/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* css reset ends here */

:root {
  --padding-normal: 1rem;
  --padding-small: 0.5rem;
  --gap-normal: 2.5rem;
  --gap-small: 1rem;
  --logo-text-font-size: 1.1rem;
  --post-buttons-width: 20%;
  --button-radius: 20px;
  --card-radius: 10px;
  --blue: #1992d4;
  --grey: #e2e8f0;

  --small-font: 0.5rem;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, 3.8fr);
  grid-template-rows: min-content minmax(max-content, 6fr);
}

.sidebar {
  grid-row: span 2;
  padding: var(--padding-normal);
  background-color: var(--blue);
  color: #fff;
}

.navigation {
  display: grid;
  gap: var(--gap-normal);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: var(--padding-small);
}

.logo,
.pages li,
.menu li {
  display: grid;
  grid-template-columns: min-content max-content;
  gap: var(--gap-small);
  align-items: center;
  justify-content: start;
}

.logo-text {
  font-size: var(--logo-text-font-size);
}

.page-header {
  padding: var(--padding-normal);
}

.page-header-first-line {
  display: grid;
  grid-template-columns: minmax(max-content, 2fr) minmax(max-content, 1fr);
  margin-bottom: var(--padding-normal);
}

.page-header-second-line {

  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr))
}

search {
  gap: var(--gap-small);
  display: grid;
  grid-template-columns: max-content 0.8fr;
  align-items: center;
}

search input {
  background-color: var(--grey);
  border: 0;
  border-radius: var(--button-radius);
}

.user-buttons {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-content: space-evenly;
  gap: var(--gap-small);
}

.page-header .about-user {
  display: grid;
  grid-template-columns: max-content minmax(max-content, 4fr);
  column-gap: var(--gap-small);
}

.about-user .icon-img {
  grid-row: span 2;
}

.post-buttons {
  display: grid;
  grid-template-columns: repeat(3, var(--post-buttons-width));
  justify-content: center;
  align-items: center;
  gap: var(--gap-normal);
}

.post-buttons button {
  background-color: var(--blue);
  color: #fff;
  border: 0;
  border-radius: var(--button-radius);
  padding: var(--padding-small);
}

main {
  font-size: var(--small-font);
  background-color: var(--grey);
  display: grid;
  grid-template-columns: minmax(min-content, 4fr) minmax(min-content, 1fr);
  padding: var(--padding-normal);
  gap: var(--gap-small);
}

.projects {
  grid-row: span 2;
}

.project-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  justify-content: center;
  gap: var(--gap-small);
}

.project-card {
  min-width: 40ch;
  background-color: #fff;
  border-radius: var(--card-radius);
  padding: var(--padding-normal) var(--padding-small);
  border-left: 1ch solid #efb42a;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.project-card nav ul {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: var(--gap-small);
  justify-content: end;
}

.announcement-container {
  background-color: #fff;
  display: grid;
  padding: var(--padding-normal);
  border-radius: var(--card-radius);
}

.announcement-card {
  padding: var(--padding-small);
}

.trending-container {
  background-color: #fff;
  display: grid;
  padding: var(--padding-normal);
  border-radius: var(--card-radius);
}

.trending-card {
  display: grid;
  grid-template-columns: max-content minmax(max-content, 4fr);
  column-gap: var(--gap-small);
}

.trending-card .icon-img {
  grid-row: span 2;
}
